<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='CSS/style.css') }}"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Workout Log</title>
    
</head>

<body>
    <img src=/static/images/fitness.jpg alt=static/images/fitness.jpg class=image>
    
    <div id="wrapper">          
        <div class="div">
            <h1 class="subhead1 mb-3 d-flex justify-content-center">Workout Log</h1>
        </div>
        <p class="subhead mb-3 d-flex justify-content-center">What did you train today?</p>
        <div class="div  mb-3 d-flex justify-content-center">
        <a href="/report/dashboard" class="navLink">Dashboard</a>||   
        <a href="/users/logout" class="navLink">Logout</a>
        </div>     
        <div id="bodyDiv">
            <div class="container mb-3 d-flex justify-content-center">
                <div class="container1">
                    <form action="/workout/new" method='post' class="inputForm"> 
                        <div class="form-group mb-3">
                            <label for='workout_name'>Workout Name</label>
                            <input type="text" name='workout_name' id='workout_name'></input>                  
                        </div>
                        <div class="form-group mb-3">
                            <label for='workout_type'>Workout Type</label>                        
                            <select id="workout" name="workout">
                                <option value="">--select a workout</option>
                                <option value="Upper Body">Upper Body</option>
                                <option value="Lower Body">Lower Body</option>
                                <option value="Full Body">Full Body</option>
                                <option value="Cardio">Cardio</option>                                 
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for='workout_details'>Details</label>
                            <textarea name='workout_details' id='workout_details'></textarea>                  
                        </div>
                        <div class="form-group mb-3">
                            <label for='workout_date'>Workout Date</label>
                            <input type="date" name='workout_date' id='workout_date'></input>                  
                        </div>
                        <button type="submit">Add My Workout</button>                                      
                    </form>                    
                </div>       
                    <div>
                        {% with messages = get_flashed_messages(category_filter=
                        ['workout']) %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p class="error">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>            
            </div>      
        </div>  
    </div>
    
</body>
</html>